.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    gap: 20px;
}

.collapsedBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    opacity: 1;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .link {
        opacity: 0;
        transition: opacity 0.3s;
        width: 0;
    }
}
