.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    opacity: 1;

    &.collapsed {
        opacity: 0;
        transition: opacity 0.3s;
        width: 0;
    }
}
