.InputWrapper {
    input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        color: var(--primary-color);

        &:focus {
            outline: none;
        }

        &:read-only {
            opacity: 0.7;
        }
    }

    .label {
        color: var(--inverted-bg-color);
        font-size: var(--font-size-l);
    }
}
